/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

img{
    max-width: 100%;
}


ol,
ul,
menu{
    list-style: none;
}

a{
    text-decoration: none;
	color: currentColor;
}


/* LAYOUT */

.container{
    max-width: 1250px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}



/* HEADER */


.section-header{
    background-color: rgb(37, 94, 233);
    padding: 20px;
}


.nav .row{
    justify-content: space-between;
}

.nav .row-link{
    display: flex;
    align-items: center;
    gap: 15px;
}


.row-link a{
    color: white;
}


.button-accedi{
    border-radius: 30px;
    font-size: 15px;
    padding: 12px;
    border: none;
}





/* MAIN */


/* Main header */

.main-header {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    height: 500px;
    display: flex;
    align-items: center;

}


.main-header .container{
    width: 700px;
        
}



.main-header .container .row{
    display: flex;
    justify-content: center;
}



.main-header-title{
    font-size: 44px;
    color: white;
    padding-bottom: 40px;
}


.main-header-description{
    text-align: center;
    font-size: 20px;
    color: white;
    padding-bottom: 20px;
}


.main-header-button{
    border: none;
    border-radius: 30px;
    font-size: 20px;
    padding: 20px;
    margin: 10px;

}

.button-black{
    background-color: black;
    color: white;
}




/* Main chat */

.main-chat{
    padding: 100px 0;
}


.main-chat .col-60{
    width: 60%;
    
}

.col-40{
    width: 40%;
}

.main-chat .container .row{
    align-items: flex-start;
}

.main-chat-title{
    font-size: 44px;
    padding-bottom: 10px;
}

.main-chat-paragraph{
    font-size: 20px;
}




/* Main group */

.main-group .col-60{
    width: 60%;
    
}


.main-group .row{
    flex-direction: row-reverse;
    align-items: flex-start;
}

.main-group{
    background-color: #dedede;
    padding: 100px 0;
    
}




.main-group-title{
    font-size: 44px;
    padding-bottom: 15px;
}

.main-group-paragraph{
    font-size: 20px;
}



/* Main calls */

.main-calls{
    padding: 100px 0;
}

.main-calls .col-60{
    width: 60%;
}


.main-calls-title{
    font-size: 44px;
    padding-bottom: 15px;
}

.main-calls-paragraph{
    font-size: 20px;
}




/* Main servers */

.main-servers{
    background-color: #dedede;
    padding: 100px 0;
}

.col-100{
    width: 100%;
}


.main-servers .container .row .col-100{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-servers-title{
    text-align: center;
    font-size: 44px;
    padding-bottom: 20px;
    width: 80%;
}

.main-servers-paragraph{
    font-size: 20px;
    text-align: center;
    width: 80%;
}




.main-servers-subtitle{
    font-size: 30px;
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 40px;
}


.button-download{
    background-color: rgb(142, 161, 225);
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 20px;
    padding: 20px;
    margin: 10px;
    font-weight: 700;
   
    
}


/* Top footer */


.top-footer{
    background-color: rgb(73, 71, 71);
    padding-top: 50px;
    padding-bottom: 20px;
    
}

.top-footer .col-16{
        width: calc(100%/6);
}

.top-footer .col-36{
        width: calc(100%/6*2);
    }


.top-footer .container{
    border-bottom: 2px solid lightgray;
}



    .top-footer-title{
        color: rgb(142, 161, 225);
        font-size: 25px;
        padding-bottom: 20px;
    }

    .italian-flag{
        width: 20px;
    }

    .button-language{
        border: none;
        background-color: inherit;
        padding-bottom: 10px;
        color: white;
    }


    .top-footer-links{
        color: white;
    }


    .top-footer-subtitle{
        color: rgb(142, 161, 225);
        font-size: 15px;
        padding-bottom: 15px;
    }


    .top-footer-options{
        color: white;
        padding-bottom: 8px;
    }



    

/* Footer bar */



.footer-bar{
    background-color: rgb(73, 71, 71);
    padding-top: 15px;
    padding-bottom: 15px;
}


.button-signin{
    background-color: rgb(142, 161, 225);
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 15px;
    padding: 15px;
    font-weight: 700;
}



.footer-bar .row{
    justify-content: space-between;
    align-items: center;
}
















    /* DEBUG */

/* .debug .container{
    border: 2px solid rgb(255, 251, 0);
    padding: 20px;
} */

/* .debug .row {
    border: 2px solid rgb(255, 0, 0);
    padding: 20px;
} */

/* .debug [class^="col"] {
    border: 2px solid rgb(3, 1, 2);
    padding: 40px;
    min-height: 100px;
} */